* {
    /* font-family: ; */
    /* border: 1px solid red; */
}

.container {
    display: grid;
    background-color: #000000;
    width: 34.375rem;   
    grid-template-rows: auto auto;
    grid-template-columns: auto ; 
    grid-template-areas: 
    'top-section'
    'bottom-section';
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 1.25rem;
    

}

.top-section {
    background-color: #6943FF;
    color: #FFFFFF;
    grid-area: top-section;
    margin-top: 1.25rem;
    width: 31.25rem;
    height: 17.813rem;
     border-radius: 0.5%;
    
}

.bottom-section {
    grid-area: bottom-section;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.input-text{
    width: 7.313rem;
    height: 5.188rem;
    border-radius: 5%;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
    border: 1px solid white;
    color: white;
    background-color: #6943FF;
}

button {
    width: 7.313rem;
    height: 2.625rem;
    margin-top: 1.25rem;
    border-radius: 5%;
}
.answer {
    background-color: #F4F4F4;
    color: #5A537B;
    width: 31.25rem;
    height: 6.786rem;
    border-radius: 0.5%;
    
}

h2 {
    border: 1px solid red;
    margin-top: 20px;
}
