.container {
    display: grid;
    background-color: #000000;
    width: 34.375rem;   
    grid-template-rows: auto auto;
    grid-template-columns: auto ; 
    grid-template-areas: 
    'top-section'
    'bottom-section';
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    gap: 1.25rem;
    

}

.top-section {
    background-color: #6943FF;
    color: #FFFFFF;
    grid-area: top-section;
}

.bottom-section {
    background-color: #F4F4F4;
    color: #5A537B;
    grid-area: bottom-section;
}

.answer {
    background-color: #FFFFFF;
}